@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Cairo:wght@200;300;400;600;700;900&display=swap');


.logo {
    background: url(https://waysforyouth.dk/wp-content/uploads/2019/03/cropped-WAYS-green-transparant-small-e1558204035915.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50px;

    .menuitem a {
        width: 100%;
        text-decoration: none;
        color: #fff;
        height: 120px;
    }